<%= form_for @company_message do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">    
    <%= f.hidden_field :company_id, value: @company_message.company_id %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Message", class: "btn btn-primary" %> <%= link_to "Cancel", :back, class: "btn btn-danger" %>       
  </div>
<% end %>


