<div class="thumbnail post-container">
  <ul id=<%="post-header-list"%> class="list-inline">
    <% user = post.user %>
    <li><%= image_tag(user.profile_pictures.first.variant(resize: "30x30"), class: 'rounded') if user.profile_pictures.attached? %> </li>
    <li><%= "#{user.first_name} #{user.last_name}"&.titleize %></li>
    <li class="post-timestamp"><%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></li>
    <% if current_user?(user) %>
      <li><a href=<%= edit_post_path(post) %>><i class="glyphicon glyphicon-edit lighter"></i></a></li>
    <% end %>
  </ul>
    <div class="caption text-center">            
      <div class="thumbnail-description smaller"><%= post.description %></div>
      <div class="position-relative">
        <%= image_tag(post.attachments.first ,style: "width:400px;height:400px;") if post.attachments.attached?%>
      </div>
    </div>
  <div class="caption card-footer text-center">
    <ul class="list-inline">
      <li><%= post_comments(post) %></li>
      <li><%= post_likes(post) %></li>
    </ul>
    <br/><br/>    
    <%= form_for([post, post.comments.new], class: 'inline') do |f| %>
      <%= f.text_field :content, placeholder: 'Add New Comment...', style: 'width:90%; height:40px' %>      
      <%= button_tag type: :submit, class: 'btn btn-primary' do %>
        <i class="glyphicon glyphicon-send"></i>
      <% end %>
    <% end %>
  </div>
</div>
