<div class="posts-container" id="posts">
  <%= button_to("create new post", new_post_path, class: 'btn btn-primary', method: :get) %>
  <br/>
  <div class="container-fluid posts-main-page">
    <div class="row">
      <div class="col-sm-3 messages-container">
          <%= render 'company_messages', company_messages: @company_messages %> 
      </div>
      <div class="col-sm-6">
        <%= render @posts %>
      </div>
      <div class="col-sm-3 links-container">
        <%= render 'link', links: @links %>    
      </div>
    </div>
  </div>
</div>
<%= will_paginate @posts %>
